body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  --bs-navbar-brand-padding-y: 0;
  padding: 5px 10px;
}

.content {
  min-height: calc(100vh - 42px - 50px);
  padding: 1rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.movie:hover {
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%),
    0 8px 10px -7px rgb(0 0 0 / 20%);
}

.btn {
  --bs-btn-line-height: 1rem;
}

.search-btn:not(:last-child) {
  width: 100%;
  margin: auto;
}
.btn-group {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.card-text {
  height: 18px;
}

.card-title {
  font-size: smaller;
  text-align: center;
}

.card-img-top {
  border: 1px solid black;
  height: 16rem;
}

.btn-floating {
  width: 2rem;
  line-height: 1.7rem;
  border-radius: 50%;
  padding: 0;
  position: relative;
  margin: 0;
  transition: 0.3s linear;
}

.btn-header {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-size: x-small;
  transition: 0.3s linear;
}

.btn-header:hover {
  box-shadow: 0 0 0 1.5px rgb(0, 0, 0), 0 0 0 3px #ffffff;
}
